@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Definición de colores en root */
:root {
    --color-gryf01: #740001;
    --color-gryf02: #AE0001;
    --color-gryf03: #eeba30;
    --color-gryf04: #d3a625;
    --color-gryf05: #000;

    --color-slyt01: #e3e3e3;
    --color-slyt02: #b0b0b0;
    --color-slyt03: #009403;
    --color-slyt04: #006302;
    --color-slyt05: #002f01;

    --color-huff01: #d4c20e;
    --color-huff02: #e5d85a;
    --color-huff03: #767676;
    --color-huff04: #515151;
    --color-huff05: #000;

    --color-rav01: #0e1a40;
    --color-rav02: #222f5b;
    --color-rav03: #5d5d5d;
    --color-rav04: #946b2d;
    --color-rav05: #000;

    --color-fondo: #ffffff; /* Color de fondo predeterminado */
    --color-texto: #000000; /* Color de texto predeterminado */
}

/* Estilos para el grid y sus elementos */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: auto; 
    height: 100px; 
    
    margin: 0;
}
.grid-item3 {
    grid-column: 2;
    grid-row: 2;
    
}

.casas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-left: 20px;
    margin-top: 20px;
}

.grid-item1{
    max-height: 100px;
}

.escudo {
    max-width: 80%; /* Ajusta el ancho al 100% del contenedor */
    max-height: 80%; /* Ajusta la altura al 100% del contenedor */
    cursor: pointer;
    transition: all 300ms;
}

.escudo:hover {
    transform: scale(1.3);
    transition: all 300ms;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;   
}

a{
    text-decoration: none; 
}


/* Estilos globales de página */
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
}


/* Estilos para secciones */
#seccion1,
#seccion2,
#seccion3 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para casas */
.gryffindor {
    background-color: var(--color-gryf01);
    color: var(--color-gryf03);
    transition: all 300ms;
}

.slytherin {
    background-color: var(--color-slyt01);
    color: var(--color-slyt05);
    transition: all 300ms;
}

.hufflepuff {
    background-color: var(--color-huff01);
    color: var(--color-huff05);
    transition: all 300ms;
}

.ravenclaw {
    background-color: var(--color-rav01);
    color: var(--color-rav04);
    transition: all 300ms;
}


#carta-imagen {
    display:none
}

/* Estilos para la textura de papel */
.textura-papel {
    display: flex;
    justify-content: center;
    background-image: url('imagenes/carta.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
}

#carta-hogwarts {
    display: flex;
    justify-content:center;
    position: relative;
    background-size: 100%; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#carta-texto {
    text-align: center;
    width: 100%;
    color: #000;
    font-family: 'Vujahday Script', cursive;
    font-size: 24px; 
    position: absolute;
    top: 300px;
    margin: 0;
    z-index: 2;
    line-height: 1.5;
}

.membrete {
    text-align: left;
    width: 60%; 
    margin-top: 70px;
    margin-bottom: 5px; 
}

.cuerpo {
    text-align: justify;
    width: 100%;
}
p.cuerpo{
    padding: 10px;
}

.firma {
    text-align: left;
    float: left;
    width: 40%;
}

#carta-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
 
}


#carta-imagen {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Coloca la imagen en la capa superior */
}

/* Aumentar el tamaño de la fuente y el espaciado del formulario */
#carta-form {
    font-size: 1.2em; /* Aumentar el tamaño de la fuente */
}

/* Aumentar el tamaño de las cajas de texto y seleccionar cuadros */
.text-container input,
.select-container select {
    font-size: 1.2em; /* Aumentar el tamaño de la fuente en cajas de texto y select */
    padding: 10px; /* Aumentar el espaciado interior de las cajas de texto y select */
}

/* Aumentar el espaciado entre los elementos del formulario */
#carta-form h4,
.checkbox-container,
.send-button-container {
    margin-bottom: 15px; /* Aumentar el margen inferior entre los elementos */
}

/* Estilo inicial para las cajas de texto */
.text-container input {
    font-size: 1.2em;
    padding: 10px;
    transition: box-shadow 0.3s; /* Agregar transición para suavizar el efecto */
}

/* Efecto de brillo al hacer clic en la caja de texto */
.text-container input:focus {
    transition: linear 300ms;
    position: relative;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5) 98%, transparent);
}


.light {
    width: 100px;
    height: 100px;
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 0.5), transparent);
    border-radius: 30%;
    animation: moveLight 3s linear infinite;
}

@keyframes moveLight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

  

/*hasta aca gus*/
  